target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Eclipse/VSC configuration
.classpath
.project
.settings/
.vscode/
*.code-workspace
.factorypath

# Intellij files
.idea
*.iml

# Ignore memory dumps
.attach_pid*
core.*
javacore.*
jitdump.*
Snap.*

# Explicity ignore Maven Wrapper binaries (no downloadable binaries, please)
maven-wrapper.jar
